= render 'locations/navbar'
.container
  .row
    .col-md-8
      %h3 Current Locations
      %ul
        %l1
        - @locations.each do |location|
          = link_to location.name, location_path(location)
          %br
          = location.phone_number
          %br

